<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">

        <div class="container">
            <table class="table table-bordered">

                <div class="d-flex justify-content-between">
                    <h4 class="mb-5">Category Table</h4>
                    <a asp-action="Create" asp-controller="Product">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </a>
                </div>

                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Colors</th>
                        <th>Sizes</th>
                        <th>Materials</th>
                        <th>Image</th>
                        <th>Category</th>
                        <th>CRUD</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var count = 0;
                        foreach (var item in ViewData["Products"] as ICollection<Product>)
                        {
                            count++;
                            <tr>
                                <th>@count</th>
                                <th>@item.Title</th>
                                <th>@item.Description</th>
                                <th>@item.Price</th>
                                <th>
                                    @String.Join(", ", item.ProductColors.Select(x => x.Color.Name).ToList())
                                </th>
                                <th>
                                    @String.Join(", ", item.ProductSizes.Select(x => x.Size.Name).ToList())
                                </th>
                                <th>
                                    @String.Join(", ", item.ProductMaterials.Select(x => x.Material.Name).ToList())
                                </th>
                                <th>
                                    <div style="width:100px">
                                        <img width="100%" src="~/Upload/ProductImages/@item.Images.FirstOrDefault()?.ImgUrl">
                                    </div>
                                </th>
                                <th>
                                    @item.Category.Name
                                </th>
                                <th>
                                    <a class="btn btn-warning" asp-action="Update" asp-controller="Product" asp-route-id="@item.Id">Update</a>
                                    <a class="btn btn-info" asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">Detail</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id">Delete</a>
                                </th>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from
                BootstrapDash.
            </span>
            <span class="float-none float-sm-end d-block mt-1 mt-sm-0 text-center">
                Copyright © 2021. All rights
                reserved.
            </span>
        </div>
    </footer>
    <!-- partial -->
</div>
<!-- main-panel ends -->
